#menu {
    text-align: center;
    padding-bottom: 20px;
}

#window {
    text-align: center;
    margin: auto;
    display: none;
    border: 1px solid #000000;
    width: 908px;
    height: 608px;
}

.box {
    width: 225px;
    height: 150px;
    border: 1px solid #000000;
    margin: auto;
    float: left;
    overflow: hidden;
}

.game_element {
    display: none;
    height: 100%;
    line-height: 50px;
}
